<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p >
      We turn novices into champions here at IIT Delhi grounds. The best facilities provided by us have led to great results and our presence is now being felt in the Delhi circles as well as in the inter college meets outside. As an organisation we are a group of around 300 people including players, coaches, trainers and administrative staff who are working to take our sporting standards at par with the best in the business. Apart from being the apex body for sports in IITD, we are involved in a number of social events, informal events, hosting of sports tournaments and other collaborations and therefore the number of people involved with BSA is huge.

    </p>

</div>
